*{
    box-sizing: border-box;
    text-decoration: none;
}
.menu{
   
    width: 80%;
    display: flex;
    flex-wrap: nowrap;   
  

        .timer{
            width: 30%;
            background-color: white;
            ul{  
                list-style: none;
                li{   
            color:#5753A8;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 39px;
            padding-top: 20px;;
                }
            }
        }
         
        .timer_antras{
            width: 70%;
            ul{
                list-style: none;
                display: inline-flex;
                justify-content: space-between;
                text-align: center;
                display: flex;
                padding: 20px;
                
                 li{
                        color: #312562;
                        font-family: Mulish;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 18px;
                        padding: 0px 20px;
                        margin-top: 20px;
                        margin-right: 1px;
                        text-align: end;
            }
            
   }
    }
    .timer_trecias{
        background-color: white;
        ul{      
            list-style: none;
            display: inline-flex;
            justify-content: space-between;
            text-align: center;
            // display: flex;
            margin-left: 50px;
            margin-top:30px;
            li{
                background-color: white;
                width: 300px;
                button{
                    // align-items: flex-end;
                    margin:0px;
                    padding: 5px 20px;
                    margin-top: 15px;
                    margin-right: 1px;
                    background: #FFFFFF;
                    border: 2px solid #FAA765;
                    box-sizing: border-box;
                    border-radius: 30px;
                    font-family: Mulish;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    color:#FAA765;
                    text-align: center;
                    width: 150px;
                    /* identical to box height */

                    text-transform: capitalize;
                    }

            }
        }
    }
    // viso pabaiga
    }